@font-face {
  font-family: 'UVNThanhPho_R';
  font-style: normal;
  src: url('../fonts/UVNThanhPho_Rd41d.eot?#iefix') format('embedded-opentype'),
       url('../fonts/UVNThanhPho_R.woff') format('woff'),
       url('../fonts/UVNThanhPho_R.ttf') format('truetype'),
       url('../fonts/UVNThanhPho_R.svg#UVNThanhPho_R') format('svg');
}

