body {
    background:url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/bg3_l.png) repeat;
}

.bg1 {
	background:url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/bg3_1.jpg) no-repeat left top;
	height:458px;
	width:100%;
}

.bg2 {
	background:url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/bg3_2.jpg) no-repeat left top;
	height:443px;
	width:100%;
}

.bg3 {
	background:url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/bg3_3.jpg) no-repeat left top;
	height:351px;
	width:100%;
}

#wraper #container #main .left .categoy.tanthu {
	background: url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/c.png) no-repeat center -150px;
}

#wraper #container #main .left .list-news .news .category-news.coban {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu1_2.png) no-repeat 0 0;
	width: 100%;
	height: 123px;
}

#wraper #container #main .left .list-news .news .category-news.coban.active {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu1hover_2.png) no-repeat 0 0;
	cursor:pointer;
}

#wraper #container #main .left .list-news .news .category-news.nhiemvu {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu2_2.png) no-repeat 0 0;
	width: 100%;
	height: 86px;
}

#wraper #container #main .left .list-news .news .category-news.nhiemvu.active {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu2hover_2.png) no-repeat 0 0;
	cursor:pointer;
}

#wraper #container #main .left .list-news .news .category-news.skhotro {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu3_2.png) no-repeat 0 0;
	width: 100%;
	height: 86px;
}

#wraper #container #main .left .list-news .news .category-news.skhotro.active {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu3hover_2.png) no-repeat 0 0;
	cursor:pointer;
}

#wraper #container #main .left .list-news .news .category-news.kinhnghiem {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu4_2.jpg) no-repeat 0 0;
	width: 100%;
	height: 86px;
}

#wraper #container #main .left .list-news .news .category-news.kinhnghiem.active {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu4hover_2.jpg) no-repeat 0 0;
	cursor:pointer;
}

#wraper #container #main .left .list-news .cauhoi .category-news.cauhoi {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu5_2.jpg) no-repeat 0 0;
	width: 100%;
	height: 86px;
}

#wraper #container #main .left .list-news .cauhoi .category-news.cauhoi:hover,
#wraper #container #main .left .list-news .cauhoi .category-news.cauhoi.active {
	background : url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/menu5hover_2.jpg) no-repeat 0 0;
	cursor:pointer;
}

#wraper #container #main .left .list-news .news .menu-ul{
	width: 100%;
	min-height:100px;
	list-style:none;
	background:#1B3B20;
	display: none;
	padding-top: 8px;
}

#wraper #container #main .left .list-news .news .menu-ul .menu-li{
	width: 100%;
	height:24px;
	line-height:24px;
}

#wraper #container #main .left .list-news .news .menu-ul .menu-li:hover,#wraper #container #main .left .list-news .news .menu-ul .menu-li.active{
	background:#efede1;
	width: 100%;
}

#wraper #container #main .left .list-news .news .menu-ul .menu-li a{
	color: #efede1;
	width : inherit;
	height : inherit;
	display: block;
	padding-left: 15px;
}

#wraper #container #main .left .list-news .news .menu-ul .menu-li:hover a,#wraper #container #main .left .list-news .news .menu-ul .menu-li.active a{
	color:#a94701;
	font-weight:bold;
}

:focus {
	outline: 0;
};

#wraper #container #main .right .no {
	z-index: 9;
}

#wraper #container #main .right .content .content-title {
	width: inherit;
}

.line-bottom{
	border-top:1px solid #ba6b2e;
	padding-bottom:5px;
}

#wraper #container #main .right .content{
	width: 90%;
	/*font-family:Tahoma;
	font-size: 10px;*/
	font: normal normal 13px/22px Tahoma, Geneva, sans-serif;
	color: #220101;
}

#wraper #container #main .right .content .content-title h2 {
	border-width: 1px;
	/*border-bottom-style: solid;*/
}

.btn-top {
	width:40px;
	height:100px;
	cursor:pointer;
	background: url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/guide/images/top.png) no-repeat 0 0;
	position: absolute;
	z-index: 9999;
	left: 734px;
	bottom: 5px;
}

.btn-top a {
	display: block;
}