@import url('reset.css'); 
@import url('banner-event.css');
@import url('typo.css');

@font-face {
  font-family: 'UVNThanhPho_R';
  font-style: normal;
  src: url('../fonts/UVNThanhPho_Rd41d.eot?#iefix') format('embedded-opentype'),
       url('../fonts/UVNThanhPho_R.woff') format('woff'),
       url('../fonts/UVNThanhPho_R.ttf') format('truetype'),
       url('../fonts/UVNThanhPho_R.svg#UVNThanhPho_R') format('svg');
}

@font-face {
  font-family: 'UTMGodsWordR';
  font-style: normal;
  src: url('../fonts/UTMGodsWordRd41d.eot?#iefix') format('embedded-opentype'),
       url('../fonts/UTMGodsWordR.woff') format('woff'),
       url('../fonts/UTMGodsWordR.ttf') format('truetype'),
       url('../fonts/UTMGodsWordR.svg#UTMGodsWordR') format('svg');
}


body {
	font:12px/1.5 Tahoma, Geneva, sans-serif;
	padding:0px;
	color:#777986;
	min-width:1000px;
	margin:0px auto;
	background:url(../images/bgd_footer.jpg) no-repeat bottom center #f2f2f2;
}
li {
	list-style:none;
}
 
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
img {
	border:0;
	vertical-align:top;
}
a {
	color:#777986;
	text-decoration:none;
	outline:none;
}
a:hover {
	color:#ee0000;
}
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clearfix {
*zoom:1;
}
.pr {
	position:relative;
}
.pa {
	position:absolute;
}
.ti {
	text-indent:-999em;
}
.hid {
	display:none;
}
.underline {
	text-decoration:underline;
}/*Content*//*Bg Reset*/

 
.wrap-bg {
	background:url(../images/bgd_header.jpg) no-repeat top center;
}/*Transition Reset*/

#header{
	margin:0px auto;
	width:100%;
	height:447px;	
}

.logo {
	width:145px;
	height:86px;
	top:18px;
	left:23px;
	z-index:6;
}
/*Main Content*/
.wrap {
	width:992px;
	margin-left:343px;
	height:auto
}
.nav {
	width:1060px;
	height:40px;
	overflow:hidden;
	position:absolute;
	margin:0px auto;
	z-index:3;
	-o-transition:height 0.1s ease-in-out;
	-moz-transition:height 0.1s ease-in-out;
	-webkit-transition:height 0.1s ease-in-out;
	-ms-transition:height 0.1s ease-in-out;
	transition:height 0.1s ease-in-out;
}
.nav:hover, .nav.nav-on {
	height:432px;
	background:url(../images/navhover_bg.jpg) no-repeat;
	-o-transition:height 0.5s ease-in-out;
	-moz-transition:height 0.5s ease-in-out;
	-webkit-transition:height 0.5s ease-in-out;
	-ms-transition:height 0.5s ease-in-out;
	transition:height 0.5s ease-in-out;
}
.nav-list {
	padding-top:22px;
	width:100%;
}
.nav-list li {
	float:left;
	text-align:center;
	width:105px;
	height:42px;
	border-right:1px solid #6f7179;
	font-family: 'UVNThanhPho_R'
}
.nav .bord {
	border:0;
}
.nav .firstopt {

}
.nav-link {
	font-size:18px;
	line-height:16px;
	color:#fafafa;
	font-family: 'UVNThanhPho_R';
}
.nav-link:hover {
	color:#901b18;
	text-decoration:none;
}
.naven-list {
	height:10px;
	width:100%;
	line-height:10px;
	font-size:8px;
	color:#3f424e;
}
.naven-list .fontfix {
	display:block;
	font-variant:small-caps;
}
.naven-list li {
	float:left;
	padding:0 10px;
	text-align:center;
	width:71px;
	height:10px;
}
.navexpand-list {
	width:100%;
	height:185px;
	top:65px;
	left:23px;
}
.navexpand-list li {
	float:left;
	height:160px;
	width:105px;
	padding-top:5px;
	border-right:1px solid #e5e5e4;
	text-align:center;
}
.navexpand-list .firstopt {
	width:82px;
}
.navexpand-logo{
	width:209px !important;
}
 
.logo{
	padding-left:10px; padding-right:10px; width:188px !important;
}
.logo img{
	height:100px;
}
.navexpand-link {
	display:inline-block;
	padding:2px 5px;
	height:19px;
	line-height:19px;
	color:#0d1528;
	font-family: 'uvnthanhpho_r';
	font-size:15px;
}
.navexpand-link:hover {
	color:#7bc1f8;
}
/*Basic Mod Class*/
.container {
	width:1077px;
	margin-bottom:2px;
	overflow:hidden;
	margin:0px auto;
}

.content {
	width:1150px;
	min-height:1000px;
	z-index:1;
	top:500px;
	overflow:hidden;
	margin:0px auto;
}

.flash{
	position:relative;
	width:1100px;
	margin:0px auto;	
}

.flash-link-on{
	position:absolute; 
	top:105px; 
	left:-12px;
	z-index:2;
	width:1100px;
	height:290px;
}
.flash-link{
	left: 115px;
	position: absolute;
	top: 180px;
}

.details-link a,
.features-link a {display: none;width:108px; height:44px; background:url(../images/btn_link.png) no-repeat left top; position:absolute; top:360px; left:220px; z-index:3;}
.details-link a:hover, 
.details-link a.active {background-position:left bottom;}

.features-link a{display: none;background-position:right top; top:360px; left:330px; z-index:3;}
.features-link a:hover, 
.features-link a.active {background-position:right bottom;}


#sessions-1{
	background: none repeat scroll 0 0 #112141;
	height: 260px;
	margin: 0 auto;
	position: relative;
	top: 5px;
	width: 989px;
}

/*- Button-link -*/

.button_link{
	width:241px;
	left:-3px;
	position:relative;
	top:2px;
	margin:0px auto;
	height:260px;	
}

.download, .download a{
	background:url(../images/btn_taigame.jpg) no-repeat center top;
	position:absolute;
	top:0px;
	left:0px;
	width:241px;
	height:126px;
	text-indent:-9999px;
}

/*.download a:hover,.download a.active{
	background:url(../images/button-link.png) no-repeat -248px top; 
}*/

.resgiter a{
	background:url(../images/button-link.png) no-repeat left -126px;
	position:absolute;
	top:125px;
	left:0px;
	width:241px;
	height:70px;
	text-indent:-9999px;
}

.resgiter a:hover, .resgiter a.active{
	background:url(../images/button-link.png) no-repeat -248px -126px;
}

.card a{
	background:url(../images/button-link.png) no-repeat left -193px;
	position:absolute;
	top:192px;
	left:0px;
	width:241px;
	height:64px;
	text-indent:-9999px;
}

.card a:hover, .card a.active{
	background:url(../images/button-link.png) no-repeat -248px -193px;
}

/*- slider-link -*/
.slider-link{
	width:491px; 
	height:254px; 
	position:absolute; 
	top:3px;
	left:252px;	
	margin:0px auto;
	z-index:9999;
}

.bgr-event{
	background:url(../images/bgr-event.jpg) no-repeat;
	width:744px;
	height:177px;
}

/*-- bgr-event --*/

/*- event-link -*/
.event-link{
	width:261px;
	height:254px; 
	display:block;
	position:relative;
	left:9px;
	margin:0px auto;
	z-index:99;	
}

.giangho a{
	background:url(../images/event-link.png) no-repeat left top;
	display:block;
	float:left;
	width:112px;
	height:113px;
	text-indent:-9999px;	
}

.giangho a:hover, .giangho a.active{
	background:url(../images/event-link-hover.png) no-repeat left top; 	
}

.support a{
	background:url(../images/event-link.png) no-repeat -115px top;
	display:block;
	width:140px;
	height:113px;
	float:left;
	margin-left:5px;
	text-indent:-9999px;	
}

.support a:hover, .support a.active{
	background:url(../images/event-link-hover.png) no-repeat -115px top;
}

.giftcode a{
	background:url(../images/event-link.png) no-repeat left -118px;
	display:block;
	float:left;
	width:112px;
	margin-top:5px;
	height:106px;
	text-indent:-9999px;	
}

.giftcode a:hover, .giftcode a.active{
	background:url(../images/event-link-hover.png) no-repeat left -118px;
}

.vip a{
	background:url(../images/event-link.png) no-repeat -115px -118px;
	display:block;
	float:left;
	margin-left:5px;
	margin-top:5px;
	width:115px;
	height:106px;
	text-indent:-9999px;	
}

.vip a:hover, .vip a.active{
	background:url(../images/event-link-hover.png) no-repeat -115px -118px;
}

.hotline{
	background:url(../images/hotline.png) no-repeat;
	width:300px;
	height:30px;
	margin:0px auto;
	position:absolute;
	top:223px;	
}

/*-- session-1 close--*/
 
#sessions-2{
	background: none;
	min-height: 1000px;
	margin: 0 auto;
	position: relative;
	top:10px;
	width: 994px;
}

.session-left{
	width:744px;
	min-height:1000px;
	float:left;
	margin:0px auto;
}

.news-link{
	border-left:6px solid #1f3252;
	border-right:6px solid #1f3252;
	border-bottom:6px solid #1f3252;
	margin-bottom:20px;
	min-height:500px;
}

.tabs-news{
	background:url(../images/news-tab.png) no-repeat top center;
	width:743px;
	height:65px;
	margin:0px auto;
	padding:0px;
	margin-left:-6px;	
}

.tabs-news li{
	float:left;
	line-height:65px;	
	white-space: nowrap;
}

.tabs-news li.tab-news a{
	color: #c7a87a;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	display:block;
	height:64px;
}

.tabs-news li.tab-news a:hover, .tabs-news li.tab-news a.active{
	color: #FFFFFF;
	background:url(../images/news-hover.png) no-repeat bottom center;
}

.details_news{
	float:right !important;
	margin-right:20px;
}

.details_news a{
	font-size:24px;	
	color: #c7a87a;
}

/**********************list detail event**********************/
.news-content-tab{
	margin-top:-5px;
}

.container-event-info{
	background: none repeat scroll 0 0 #fff;
	clear: both;
	height: 145px;
	padding: 15px;
	position: relative;
	top: -5px;
	width: 96%;
}

.close-vk{
	background: none;
	border: none;
	position: relative;
	background: #eaeaea repeat 1px 1px;
}
 
.container-event-image{
	width: 143px;
	height: 137px;
	padding : 0px;
	margin: 0px;
	float: left;	
	overflow: hidden;
	border: 5px solid #b69b74;
	outline:  1px solid #ce891b;
}

.container-event-image img{
	height: 137px;
	width: 143px;
}

.container-event-image:hover{
	border: 5px solid #d2a96d;
}
 
.container-event-image a{
	width: 140px;
	height: 80px;
	padding : 0px;
	margin: 0px;
	display: block;
}
.container-event-content{
	width: 526px;
	height: 100px;
	padding : 0px;
	margin: 0px;
	float: left;	
	margin-left: 20px;
}
.container-event-content h3{
	border-left: 5px solid #b70f0b;
	line-height: 16px;
	padding-left: 10px;
	position: relative;
}
 
.container-event-content h3 a{
	color : #b70f0b;
	font-size: 18px;
	font-weight:bold;
	text-decoration:none;
	font-family: Tahoma;
	text-transform: uppercase;
	
}
.container-event-content h3 a:hover{
	color: #e3980d;
}

.container-event-description{
	width: 96%;
	height: 50px;
	padding: 0px;
	margin: 0px;
	text-align: justify;
	color: #e8dcbb;
	line-height:17px;
	overflow: hidden;
}
.close-vk .container-event-description{
	color: #1b262e;
}
.container-event-description h4{
	padding: 0px;
	margin: 0px;
	color:#b69b74 !important;
	font-size:14px;
}

.container-event-description ul{
	padding: 0px 0px 0px 14px;
	margin: 0px;
	width: 100%;
}
.container-event-description ul li a{
	color: #E8DCBB;
}
.close-vk .container-event-description ul li a{
	color: #1b262e;
}
.container-event-description ul li a:hover,.container-event-description ul li:hover{
	color : #E3980D;
}
.event-date{
	font-style:italic;
	color:#8c8c8c;
	line-height:24px;
}

.page{
	height:50px;
	margin-left:130px;
	margin-top:20px;
	margin-bottom:14px;	
	clear:both;
}

.page a{
	background:#112141;
	border:3px solid #bfbfbf;
	padding:5px 8px;
	text-transform:uppercase;
	font-family: 'UVNThanhPho_R';
	font-size:16px;
	float:left;
	margin-left:2px;
	white-space: nowrap;
}

.page strong{
	background:#b70f0b;
	border:3px solid #112141;
	padding:5px 8px;
	text-transform:uppercase;
	font-family: 'UVNThanhPho_R';
	font-size:16px;
	float:left;
	margin-left:2px;
	color:#112141;
}

.top a{
	background:#112141;
	border:3px solid #bfbfbf;
	padding:10px;
	text-transform:uppercase;
	font-family: 'UVNThanhPho_R';
	font-size:14px;
	float:left;
}

.details a{
	background:#112141;
	border:3px solid #bfbfbf;
	padding:10px;
	text-transform:uppercase;
	font-family: 'UVNThanhPho_R';
	font-size:14px;
	float:left;
	margin-left:10px;
}

.title-event{
	font-family: 'UVNThanhPho_R';
	font-size:25px;	
	color:#fab514;	
	margin-top:60px;
}

.title-event a{
	font-family: 'UVNThanhPho_R';
	font-size:25px;	
	color:#cd8f0c;	
	text-transform:uppercase;
	font-weight:bold;
}

.title-event a:hover{
	color:#eda307;
}

.date-event{
	color:#FFFFFF;
	font-size:14px;	
}

.detail-event a{
	background:#bf830a;
	color:#000000;
	padding:2px 10px 6px;
	font-size:12px;
	font-weight:bold;	
}

.detail-event a:hover{
	background:#bf830a;
	color:#CCCCCC; 
}

.search{
	background:url(../images/bgr-search.png) no-repeat bottom center;
	width:680px;
	height:72px;
	margin:0px auto;	
}

input.txt_s{
	background: #FFF;
	border:1px solid #d2d2d2;
	box-shadow: 0 0 0 0 #cccccc;
	color: #555;
	float: left;
	font-size: 10px;
	font-style: italic;
	height: 21px;
	margin: 0;
	outline: medium none;
	padding: 2px 0 0 5px;
	width: 390px;	
	margin-right:10px;
	margin-left:150px;
	margin-top:20px;
}

input.btn_s{
	background: url(../images/btn-search.png) no-repeat;
	border: medium none;
	cursor: pointer;
	float: left;
	height: 30px;
	width: 39px;
	z-index: 1;	
	margin-top:20px;
}

.list-news{
	clear:both;	
	width:95%;
	margin:0px auto;
}

.list-news li{
	clear:both;
	padding-top:10px;
	padding-bottom:10px;
}

.list-news li a{
	color:#0a2857;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	width:500px;
}

.list-news li a:hover{
	color:#d55804;	
}

.type-event{
	width:80px;
	height:20px;
	display:block;
	float:left;
	text-align:center;
	background:#071f45;	
	margin-right:10px;
	color:#FFF;
}

.date-news{
	float:right;
	color:#a6a7a7;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
}

.wrap-content{
	width:95%;
	margin:0px auto;
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:justify;	
	clear:both;
}

.breadcrumb{
	float:right;		
}

.breadcrumb li{
	float:left;
	margin-left:10px;
	margin-top:10px;
	color:#1e1212;
}

.breadcrumb li a{
	color:#1e1212;
	font-size:13px;
}

.breadcrumb li a:hover, .breadcrumb li a.active{
	color:#c02f2b;
	font-size:13px;
}

.title-news{
	border-bottom: 1px solid #000;
	margin-top: 20px;
	min-height: 50px;
	padding-bottom: 10px;	
}

.title-news h1{
	float:left;	
	color:#1e1212;
	font-size:20px;
	font-weight:bold;
	width:84%;
}

.icon-title-news2{
	background:url(../images/icon-title-news2.png) no-repeat right center;
	padding:57px 45px;
	float:right;	
}

.title-date-news{
	color: #0a2857;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 13px;
	font-style:italic;
}

.content-news{
	width:100%;
	margin:0px auto;
	padding-top:20px;
	padding-bottom:50px;
	color:#1e1212;
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
}

.content-news img{
	max-width:90%;	
}
/*=== Right ====*/

.session-right{
	width:250px;
	min-height:1204px;
	float:right;
	margin:0px auto;
	position:relative;	
	background:#0a2857;
	padding-bottom: 5px;
}
.box-option{	
	left: -3px;
	margin: 0 auto;
	min-height: 192px;
	padding: 0;
	position: relative;
	width: 239px;
}
.option-1 a{
	background:url(../images/option-link.png) no-repeat left top;
	width:237px;
	height:55px;
	margin:0px auto;
	display:block;	
	margin-top:5px;
}

.option-1 a:hover,.option-1 a.active{
	background:url(../images/option-link-hover.png) no-repeat left top;
}

.option-2 a{
	background:url(../images/option-link.png) no-repeat left -58px;
	width:237px;
	height:55px;
	margin:0px auto;
	display:block;	
	margin-top:1px;
}

.option-2 a:hover, .option-2 a.active{
	background:url(../images/option-link-hover.png) no-repeat left -58px;
}

.option-3 a{
	background:url(../images/option-link.png) no-repeat left -116px;
	width:237px;
	height:55px;
	margin:0px auto;
	margin-top:1px;
	display:block;	
}

.option-3 a:hover, .option-3 a.active{
	background:url(../images/option-link-hover.png) no-repeat left -116px;
}

.option-4 a{
	background:url(../images/option-link.png) no-repeat left -174px;
	width:237px;
	height:55px;
	margin:0px auto;
	display:block;	
	margin-top:1px;
}

.option-4 a:hover, .option-4 a.active{
	background:url(../images/option-link-hover.png) no-repeat left -174px;
}

.option-5 a{
	background:url(../images/option-link.png) no-repeat left -233px;
	width:237px;
	height:55px;
	margin:0px auto;
	display:block;	
	margin-top:2px;
}

.option-5 a:hover, .option-5 a.active{
	background:url(../images/option-link-hover.png) no-repeat left -233px;
}

.option-6 a{
	background:url(../images/option-link.png) no-repeat left -292px;
	width:237px;
	height:55px;
	margin:0px auto;
	display:block;	
	margin-top:2px;
}

.option-6 a:hover, .option-6 a.active{
	background:url(../images/option-link-hover.png) no-repeat left -292px;
}

.box-button{
	width:200px;
	height:50px;
	margin:0px auto;
	display:block;	
	margin-top:20px;
}

.button-youtube a{
	background:url(../images/youtube-link.png) no-repeat left 0px;
	display: block;
	height: 40px;
	margin: 2px auto 0;
	width: 95px;
	float:left;
}

.button-youtube a:hover{
	background:url(../images/youtube-link-hover.png) no-repeat left 0px;
}

.button-fanpage a{
	background:url(../images/youtube-link.png) no-repeat -105px 0px;
	display: block;
    float: left;
    height: 40px;
    margin: 2px auto 0;
    width: 105px;
}

.button-fanpage a:hover{
	background:url(../images/youtube-link-hover.png) no-repeat -105px 0px;
}
 
.title-link{
	background:url(../images/title-link.png) no-repeat;
	width:240px;
	height:40px;
	margin:0px auto;
	padding:0px;
	font-size:18px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
	text-align:left;
	line-height:35px;
	padding-left:20px;
}

.icon-title{
	background:url(../images/icon-special-title.png) left center;
	width:8px;
	height:9px;
	display:inline-block;
	margin-right:5px;
		
}

.link-slogan{
	width:430px; height:200px; position:absolute; z-index:19; top:160px; left:105px;
}
/*-- session-2 close--*/

/*Footer*/
.footer {width:100%; height:144px; clear:both; padding:20px 0;}
.footer-main {width:900px; margin:0px auto; top:50px; position:relative;}

.footer-link {height:30px; left:190px; position:absolute; top:0; width:520px;} 
.footer-link ul {list-style:none;} 
.footer-link li {float:left; margin-left:5px; color:#000;} 
.footer-link li a {color:#2e2e2e; font-size:12px; font-family:Tahoma;} 
.footer-link li a:hover {color:#E80812;}

.content-footer {left:175px; position:absolute; text-align:center; top:21px; width:500px; color:#2e2e2e;}

.content-footer p, 
.content-footer a {color:#2e2e2e;}

#logo-gosu {background:url("../images/logo-gosu.png") no-repeat; height:43px; left:0px; position:absolute; top:15px; width:163px; z-index:990;}
#logo-cubinet {background:url("../images/logo-cubinet.png") no-repeat; height:43px; left:670px; position:absolute; top:20px; width:263px;}