/*.content-news,
.content-news p,
.content-news strong,
.content-news span,
.content-news div,
.content-news td,
.content-news th{
	font-size: 14px;
	font-family: 'Tahoma';
	line-height: 1.4;
	color: #332100;
}
.content-news fieldset {
	background: #fef6e5;
}
.content-news p{
	margin: 10px 0;
}*/
.content-news a{
	color: #af2703;
	/*display:inline-block;*/
}
.content-news a:hover{
	text-decoration: underline;
}
.content-news img,
.content-news p span img,
.content-news div span img{
	max-width: 550px;
	margin: 5px 0;
}
.content-news em{
	font-style: italic;
}

.content-event-h1{
	background: url(http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/news/images/bullet_1.png) no-repeat left center;
    font-size: 13pt;
    font-weight: bold;
    color: #8d010b;
    padding: 7px 13px 8px 38px;
    margin: 10px 0 15px 0;
    line-height: 18px;
}
.content-event-h1 span{
	font-size: 13pt;
    font-weight: bold;
    color: #8d010b;
}
.content-event-h2{
	background: url("http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/news/images/bullet_2.png") no-repeat scroll 23px 6px rgba(0, 0, 0, 0);
	color: #8d010b;
	font-size: 12pt;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 0 10px 9px 46px;
}
.content-event-h2 span{
	font-size: 12pt;
    font-weight: bold;
    color: #8d010b;
}
.content-event-first{	
    float: left;
    font-family: 'times new roman' !important;
    font-size: 55px !important;
    height: 23px !important;
    line-height: 5px !important;
    margin: 12px 2px 0 1px;    
    text-align: left;
}
.content-news fieldset{
	border: 1px solid #C36E60;
	margin: 20px 0px;
  	padding-left: 10px;
    padding-right: 10px;
}
.content-news fieldset legend{
	color:#B00000; 
	/* font-weight: bold; */
	padding: 0 15px;
	
}
.content-news fieldset ul{
	padding: 5px 10px 5px 20px;
	margin: 0px;
}
.content-news fieldset ul li{
	margin:0px;
	line-height:20px;
	text-align:justify;
	margin-bottom:5px;
}
.content-news ul li{
	margin-bottom: 10px;
}

/*TABLE FORMAT*/
.content-news table{
	text-align: center;
	border: 1px solid #af030f;
    margin: 0 auto 15px auto;
}
.content-news table tr:nth-child(2n) {color: #000;background: #fffbf3;  border: 1px solid #000000;}
.content-news table tr:nth-child(2n+1) {color: #000;background: #fef6e5;  border: 1px solid #000000;}
.content-news table tr:first-child {background:#af030f ;border: 1px solid #000000; }
.content-news table tr:first-child td {color: #FFF ; font-weight: bold; font-size: 14px; border: 1px solid #000000;}
.content-news table tr:first-child td p,
.content-news table tr:first-child td strong,
.content-news table tr:first-child td span,
.content-news table tr:first-child td p span {
	color: #FFF ; font-weight: bold; font-size: 14px;
}
/*.content-news table tr:first-child td p strong{color: #FFF !important;}
.content-news table tr:first-child td p {font-weight: bold;}*/
.content-news tr th{
	background: #af030f;	
	color:  #ffffff;
	font-weight: bold;
	height: 37px;
	text-align: center;
}
.content-news table tr td{
	margin:0px;
	padding: 5px 10px;
	border: 1px solid #000000;
	vertical-align: middle;
	font-size: 12pt;
	font-family: Tahoma;
}
.content-news table tr td strong,.content-news table tr td p{
	padding: 0px;
	margin: 0px;
	/*font-size: 12pt;*/
	font-family: Tahoma;
}
.content-news table img{
	margin: auto !important;
}
.content-news ul{
	list-style:none;
}
.content-news ul li{
	background: url("http://cuuam.gosu.vn/home/static/templates/frontend/homepage/cack2/news/images/icon_li1.png") no-repeat scroll 3px 7px rgba(0, 0, 0, 0);
	clear: both;
	list-style: outside none none;
	padding-left: 16px;
	vertical-align: middle;
}